@model MVC.Models.QUYENSACH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<strong class="card-title" style="margin-left:20px; font-size:30px; color:aqua;">XÓA QUYỂN SÁCH</strong>

<div>
    <strong class="card-title" style="margin-left:25px; font-size:20px; color:black;">Bạn Có Muốn Xóa Quyển Sách Này ??</strong>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Quyển Sách:
        </dt>

        <dd>
            <span style="font-size:15pt;margin-left:5px;color:blue">@Model.MaSach</span>
            @*@Html.DisplayFor(model => model.SoPhieuMuon)*@
        </dd>

        <dt>
            Tên Sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            Tác Giả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            Tên NXB:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
        </dd>
        <dt>
            Tên Loại Sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISACH.TenLoaiSach)
        </dd>

        <dt>
            Năm Xuất Bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXB)
        </dd>

        <dt>
            Lần Xuất Bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanXB)
        </dd>

        <dt>
            Số Lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            Hình Ảnh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            Tình Trạng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moi)
        </dd>
        <dt>
            Giá Bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Lượt Xem:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotXem)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:red" /> |
            <a href="@Url.Action("Index","QUYENSACH")" class="btn btn-default" style=" background-color:plum">Back</a>

        </div>
    }
</div>
