@*@model PagedList.PagedList<DataBase.CHITIETPHIEUMUON.CHITIETPHIEUMUONModel>*@
@model PagedList.PagedList<MVC.Models.CHITIETPHIEUMUON>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header">

    <strong class="card-title" style="margin-left:20px; font-size:30px; color:aqua;">CHI TIẾT PHIẾU MƯỢN</strong>


    <p>
        <a href="@Url.Action("Create","CHITIETPHIEUMUON")" class="btn btn-default" style="float:right; border-color:red;">Create New</a>
    </p>

</div>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.QUYENSACH.TenSach)*@ Tên Sách
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DOCGIA.TenDG)*@ Tên Độc Giả
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NHANVIEN.TenNV)*@ Tên Nhân Viên
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayMuon)*@ Ngày Mượn
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HanTra)*@ Hạn Trả
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayKhachTra)*@ Ngày Khách Trả
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TienPhat)*@ Phí Phạt
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LyDoPhat)*@ Lý Do Phạt
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QUYENSACH.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOCGIA.TenDG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHANVIEN.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HanTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKhachTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LyDoPhat)
            </td>



            <td>
                <a href="@Url.Action("Edit","CHITIETPHIEUMUON", new { id = item.MaSach})" class="btn btn-default">Edit</a> |
                <a href="@Url.Action("Delete","CHITIETPHIEUMUON", new { id = item.MaSach})" class="btn btn-default">Delete</a>
            </td>
        </tr>
    }

</table>

@* Tạo link liên kết các trang*@
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                    </div>
                    <style>

                        .MenuTrang ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            overflow: hidden; /*background-color: #333;*/
                        }

                        .MenuTrang li {
                            display: inline;
                            float: left;
                            border-right: 1px solid #bbb;
                        }

                            .MenuTrang li:last-child {
                                border-right: none;
                            }

                            .MenuTrang li a {
                                display: block;
                                color: Black;
                                text-align: center;
                                padding: 14px 16px;
                                text-decoration: none;
                            }

                                .MenuTrang li a:hover:not(.MenuTrang) {
                                    background-color: #4CAF50;
                                }

                        .MenuTrang {
                            background-color: cornflowerblue;
                        }
                    </style>
