@model MVC.Models.NHAXUATBAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<strong class="card-title" style="margin-left:20px; font-size:30px; color:aqua;">XÓA NHÀ XUẤT BẢN</strong>

<div>
    <strong class="card-title" style="margin-left:25px; font-size:20px; color:black;">Bạn Có Muốn Xóa Nhà Xuất Bản Này ??</strong>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Nhà Xuất Bản:
        </dt>

        <dd>
            <span style="font-size:15pt;margin-left:5px;color:blue">@Model.MaNXB</span>
            @*@Html.DisplayFor(model => model.SoPhieuMuon)*@
        </dd>

        <dt>
            Tên Nhà Xuất Bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNXB)
        </dd>

        <dt>
            Địa Chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:red" /> |
            <a href="@Url.Action("Index","NHAXUATBAN")" class="btn btn-default" style=" background-color:plum">Back</a>

        </div>
    }
</div>

